<div class="text-content">
  <h1>expendebles</h1>

  <div class="text-content-description">
    <p>is a free, privacy-respecting, <b>personal cashflow</b> webapp.</p>
  </div>

  <h4>Features:</h4>
  <ul>
    <li>- <b>add/manage</b> your transactions</li>
    <li>- <b>cashflow statistics</b> view
    <li>- <b>full privacy</b> (no tracking cookies, etc.)</li>
    <li>- <b>pure client-side</b> app (w/o internetz)</li>
    <li>- <b>mobile friendly</b> layout</li>
    <li>- <b><a href="https://github.com/p1100i/expendebles">open source</a> / free</b></li>
  </ul>

  <h4>Build info:</h4>
  <ul>
    <li>- <b>version:</b> {{about.version}}</li>
    <li>- <b>commit:</b> {{about.buildCommit}}</li>
    <li>- <b>unix time:</b> {{about.unixTime}}</li>
    <li>- <b>local time:</b> {{about.buildDate | date:about.format}}</li>
  </ul>

  <h4>Basics:</h4>
  <ul>
    <li>- add entries on <a href="#!/register">/reg</a></li>
    <li>- manage your app data on <a href="#!/data">/data</a></li>
  </ul>

  <h4>Roadmap:</h4>
  <ul>
    <li>- customizable month interval</li>
    <li>- more statistics / charts</li>
    <li>- customizable categories</li>
  </ul>

  <h4>Other:</h4>
  <ul>
    <li>- <b><a href="https://github.com/p1100i/expendebles/issues">open an issue</a></b> if you need something</li>
    <li>- created by <b><a href="https://twitter.com/p1100i">p1100i</a></b></li>
  </ul>
</div>
