<div class="text-content">
  <h1>expendebles</h1>

  <div class="text-content-description">
    <p>is a free, privacy-respecting, <b>personal cashflow</b> webapp.</p>
  </div>

  <h2>Features:</h2>
  <ul class="disced">
    <li><b><a href="#!/register">add/manage</a></b> your transactions</li>
    <li>cashflow <b><a href="#!/statistic">statistics</a></b> view
    <li><b><a href="#!/config">export/configure</a></b> your data</li>
    <li><b>full privacy</b> (no tracking cookies, etc.)</li>
    <li><b>pure client-side</b> app (w/o internetz)</li>
    <li><b>mobile friendly</b> layout</li>
    <li><b><a href="https://github.com/p1100i/expendebles">open source</a> / free</b></li>
  </ul>

  <h2>Support:</h2>
  <ul class="disced">
    <li><b><a href="https://github.com/p1100i/expendebles/issues">open an issue</a></b> if you need something</li>
    <li>created by <b><a href="https://twitter.com/p1100i">p1100i</a></b></li>
  </ul>

  <h2>Build:</h2>
  <ul class="disced">
    <li><b>version:</b> v{{about.build.version}}</li>
    <li><b>commit:</b> {{about.build.commit}}</li>
    <li><b>date:</b> {{about.build.date | date:'yyyy-MM-dd HH:mm'}}</li>

  </ul>
</div>
