<div class="config-wrapper">
  <div class="text-content">
    <h3>Data</h3>
    <ul class="config-info">
      <li>
        <i class="fa fa-database"></i>
        <span>used space</span>
      </li>

      <li>
        <span class="text-white bubble inline-block bg-solarized-5" data-ng-bind="config.usageHuman"></span>
        <span class="text-white bubble inline-block bg-solarized-6" data-ng-bind="config.usagePercent"></span>
      </li>

      <li class="next-item">
        <i class="fa fa-calendar"></i>
        <span>month starting day</span>
      </li>

      <li>
        <select
          data-ng-change="config.onMonthBegChanged(config.monthBeg)"
          data-ng-options="(i + 1) for i in config.monthBegs"
          data-ng-model="config.monthBeg"></select>

      </li>
    </ul>
  </div>

  <table>
    <tbody>
      <tr>
        <td colspan="2">
          <h4>Serialized</h4>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <textarea class="serialized" data-ng-model="config.serialized" rows="12"></textarea>
        </td>
      </tr>

      <tr>
        <td>
          <button
            class="submit"
            title="Import the serialized data displayed in the textarea above."
            data-ng-click="config.importSerialized(config.serialized)">
            Import
          </button>
        </td>
        <td>
          <button
            class="submit"
            title="Copy the serialized data displayed in the textarea above."
            data-ng-click="config.copySerialized()">
            Copy
          </button>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <button
            class="submit submit-wide"
            title="Clear all your APP data, careful this is irreversible."
            data-ng-click="config.clear()">
            Clear all APP data!
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
