<div class="data-wrapper">
  <div class="text-content">
    <h3>Data</h3>
    <ul class="data-info">
      <li>
        <i class="fa fa-database"></i>
        <span>used space</span>
      </li>

      <li>
        <span class="text-white bubble inline-block bg-solarized-5" data-ng-bind="data.usageHuman"></span>
        <span class="text-white bubble inline-block bg-solarized-6" data-ng-bind="data.usagePercent"></span>
      </li>

      <li class="next-item">
        <i class="fa fa-calendar"></i>
        <span>month starting day</span>
      </li>

      <li>
        <select
          data-ng-change="data.onMonthBegChanged(data.monthBeg)"
          data-ng-options="(i + 1) for i in data.monthBegs"
          data-ng-model="data.monthBeg"></select>

      </li>
    </ul>
  </div>

  <table>
    <tbody>
      <tr>
        <td colspan="2">
          <h4>Serialized</h4>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <textarea class="json" data-ng-model="data.json" rows="12"></textarea>
        </td>
      </tr>

      <tr>
        <td>
          <input
            class="submit"
            type="button"
            value="Import"
            title="Import the serialized data displayed in the textarea above."
            data-ng-click="data.importJSON(data.json)">
        </td>
        <td>
          <input
            class="submit"
            type="button"
            value="Copy"
            title="Copy the serialized data displayed in the textarea above."
            data-ng-click="data.copyJSON()">
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <input
            class="submit submit-wide"
            type="button"
            value="Clear all APP data!"
            title="Clear all your APP data, careful this is irreversible."
            data-ng-click="data.clear()">
        </td>
      </tr>
    </tbody>
  </table>
</div>
