<table class="footer">
  <tbody>
    <tr>
      <td class="text-left">
        <a class="menu-button" href="https://github.com/p1100i/generator-morf" title="Project generator"><span class="menu-title">Created with morf generator</span><i class="icon fa fa-github"></i></a>
      </td>
      <td class="text-right">
        <a class="menu-button" href="https://github.com/p1100i" title="My GitHub profile"> <span class="menu-title">by p1100i</span><i class="icon fa fa-github"></i></a>
      </td>
    </tr>
  </tbody>
</div>
