<table class="header shadow-bottom" role="navigation">
  <tbody>
    <tr>
      <td
        data-ng-class="{ 'selected' : app.isAnchorSelected(anchor) }"
        data-ng-repeat="anchor in app.leftAnchors">

        <span class="anchor-spacer" data-ng-if="!anchor.enabled"></span>

        <a
          data-ng-if="anchor.enabled"
          class="anchor {{anchor.name}}"
          href="{{anchor.href}}"
          title="{{anchor.title}}">
          <i class="icon fa" data-ng-class="'fa-' + anchor.icon"></i>
        </a>
      </td>

      <td class="text-center width-99p">
        <div class="interval-wrapper" data-ng-if="app.interval">
          <a class="anchor anchor-narrow float-left" title="Previous month" data-ng-click="app.stepInterval(-1)">
            <i class="icon fa fa-chevron-left"></i>
          </a>

          <div class="interval-text">
            <span class="bold interval-title" data-ng-bind="app.interval.title"></span>
            <span class="interval-subtitle" data-ng-bind="app.interval.subtitle"></span>
          </div>

          <a class="anchor anchor-narrow float-right" title="Next month" data-ng-click="app.stepInterval(1)">
            <i class="icon fa fa-chevron-right"></i>
          </a>
        </div>
      </td>

      <td
        data-ng-class="{ 'selected' : app.isAnchorSelected(anchor) }"
        data-ng-repeat="anchor in app.rightAnchors">
        <span class="anchor-spacer" data-ng-if="!anchor.enabled"></span>

        <a
          data-ng-if="anchor.enabled"
          class="anchor {{anchor.name}}"
          href="{{anchor.href}}"
          title="{{anchor.title}}">
          <i class="icon fa" data-ng-class="'fa-' + anchor.icon"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
