<div class="register-wrapper">
  <table class="control">
    <tbody>
      <tr data-ng-if="!register.more">
        <td colspan="4">
          <input
          class="sum"
          type="tel"
          data-ng-model="register.amount"
          data-ng-change="register.onAmountChanged(register.amount)">
        </td>
      </tr>
      <tr data-ng-if="!register.more">
        <td>
          <input
            class="submit plus"
            data-ng-class="{ 'selected' : register.selectedItem && !register.selectedItem.expense }"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="+"
            data-ng-click="register.setSelectedExpense(false)">
        </td>
        <td>
          <input
            class="submit minus"
            data-ng-class="{ 'selected' : register.selectedItem && register.selectedItem.expense }"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="-"
            data-ng-click="register.setSelectedExpense(true)">
        </td>
        <td>
          <input
            class="submit delete"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="/del"
            data-ng-click="register.deleteItem(register.selectedItem)">
        </td>
        <td>
          <input
            class="submit more"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="/more"
            data-ng-click="register.showMoreItem(register.selectedItem)">
        </td>
      </tr>

      <tr data-ng-if="register.more">
        <td colspan="4">
          <input
            class="datetime"
            type="datetime-local"
            data-ng-change="register.onItemDateChanged(register.selectedItem)"
            data-ng-model="register.selectedItem.date" >
        </td>
      </tr>

      <tr data-ng-if="register.more">
        <td colspan="4">
          <input
            class="submit submit-wide"
            type="button"
            value="/done"
            data-ng-click="register.hideMoreItem(register.selectedItem)">
        </td>
      </tr>

      <!-- <tr> -->
      <!--   <td colspan="2"> -->
      <!--     <input -->
      <!--       class="submit" -->
      <!--       type="button" -->
      <!--       value="{{ register.items ? 'Hide items' : 'Show items' }}" -->
      <!--       data-ng-click="register.toggleItems()"> -->
      <!--   </td> -->
      <!-- </tr> -->
    </tbody>
  </table>

  <table class="items" data-ng-if="register.items">
    <tbody>
      <tr
        data-ng-class="{ 'selected' : item === register.selectedItem }"
        data-ng-repeat="item in register.items | orderBy : 'timestamp' : true"
        data-ng-click="register.selectItem(item)">
        <td class="text-right amount-cell">
          <span class="bubble amount" data-ng-class="{ true : 'expense', false : 'income'}[item.expense]">
            <i class="fa" data-ng-class="{ true : 'fa-minus-circle', false : 'fa-plus-circle'}[item.expense]"></i>
            <span data-ng-bind="register.formatAmount(item.amount)"></span>
          </span>
        </td>
        <td class="text-right date-cell">
          <span class="bubble date">
            <span data-ng-bind="item.timestamp | date:app.DATE_FORMAT_SHORT"></span>
            <i class="fa fa-calendar"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
