<div class="register-wrapper" data-ng-click="register.stopEvent($event)">
  <table class="control">
    <tbody>

      <!-- register amount field -->
      <tr data-ng-if="!register.ext">
        <td colspan="4">
          <input
            id="amount"
            class="sum"
            type="number"
            placeholder="Amount"
            data-ng-model="register.amount"
            data-ng-change="register.onAmountChanged(register.amount)">
        </td>
      </tr>

      <!-- register 4-buttons: +/-/del/ext -->
      <tr data-ng-if="!register.ext">
        <td>
          <input
            class="submit plus"
            data-ng-class="{ 'selected' : register.selectedItem && !register.selectedItem.expense }"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="+"
            data-ng-click="register.setExpense($event, register.selectedItem, 0)">
        </td>

        <td>
          <input
            class="submit minus"
            data-ng-class="{ 'selected' : register.selectedItem && register.selectedItem.expense }"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="-"
            data-ng-click="register.setExpense($event, register.selectedItem, 1)">
        </td>

        <td>
          <input
            class="submit ext"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="?"
            data-ng-click="register.showItemExtra($event, register.selectedItem)">
        </td>

        <td>
          <input
            class="submit delete"
            data-ng-disabled="!register.isAmountValid(register.amount)"
            type="button"
            value="x"
            data-ng-click="register.deleteItem($event, register.selectedItem)">
        </td>
      </tr>

      <!-- register:ext datetime field -->
      <tr data-ng-if="register.ext">
        <td colspan="4">
          <input
            class="datetime"
            type="datetime-local"
            data-ng-change="register.onItemDateChanged(register.selectedItem)"
            data-ng-model="register.selectedItem.date" >
        </td>
      </tr>

      <!-- register:ext category rows -->
      <tr data-ng-if="register.ext" data-ng-repeat="category in register.categories">
        <td class="text-left" colspan="4">
          <span
            class="bubble category"
            data-ng-class="{ 'bg-solarized-12' : category.name === register.selectedItem.category }"
            data-ng-click="register.setCategory($event, register.selectedItem, category)">
            <i class="fa" data-ng-class="'fa-' + category.icon"></i>
            <span data-ng-bind="category.name"></span>
          </span>
        </td>
      </tr>

      <!-- register:ext done -->
      <tr data-ng-if="register.ext">
        <td colspan="4">
          <input
            class="submit submit-wide"
            type="button"
            value="/done"
            data-ng-click="register.hideItemExtra($event, register.selectedItem)">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="items" data-ng-class="{ 'disabled' : register.ext }" data-ng-if="register.items">
    <tbody>
      <tr
        data-ng-class="{ 'selected' : item === register.selectedItem }"
        data-ng-repeat="item in register.items | filter:register.isInInterval | orderBy : 'timestamp' : true"
        data-ng-click="register.selectItem($event, item)">
        <td class="text-right amount-cell">
          <span class="bubble amount" data-ng-class="{ true : 'expense', false : 'income'}[item.expense]">
            <i class="fa" data-ng-class="{ true : 'fa-minus-circle', false : 'fa-plus-circle'}[item.expense]"></i>
            <span data-ng-bind="register.formatAmount(item.amount)"></span>
          </span>
        </td>
        <td class="text-right date-cell">
          <span class="bubble date">
            <span data-ng-bind="item.timestamp | date:app.DATE_FORMAT_SHORT"></span>
            <i class="fa" data-ng-class="'fa-' + register.getCategoryIcon(item.category)"></i>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
