div.about-wrapper
  h1
    color  $grey-black
    margin 5px 0

  h4
    color  $grey-dark
    margin 20px 0 5px 0

  ul, span
    font-size 13px
    color $grey

  span.version
    color       $grey-dark
    font-weight bold
