div.data-wrapper
  ul.data-info
    margin-bottom 10px

    span.bubble
      margin 0

    li
      margin 5px 0

    li.next-item
      margin-top 10px

    i
      text-align  center
      width       18px

    button
      width $content-width - 4

  textarea.serialized
    display     block
    font-size   12px
    width       $content-width - 10px

  button.submit
    margin-top 5px
    size2($content-width / 2, 40px)

  button.submit-wide
    size2($content-width, 40px)
