div.data-wrapper
  ul.data-info
    margin-bottom 10px

  textarea.json
    display     block
    font-size   12px
    width       $content-width - 10px

  input.submit
    margin-top 5px
    size2($content-width / 2, 40px)

  input.submit-wide
    size2($content-width, 40px)
