div.register-wrapper
  text-align center

  input.amount
    font-size     36px
    margin-bottom 5px
    text-align    center
    size2($content-width - 4, 60px)

  input.datetime
    font-size     12px
    margin-bottom 10px
    width         $content-width - 4

  button.submit
    margin      5px 0 10px
    text-align  center
    size2($content-width / 4 - 22, 40px)

    &.selected
      font-weight bold
      font-size 30px

    &.plus, &.minus
      size2($content-width / 4 + 18, 40px)

      &:not([disabled])
        font-size 20px

    &.delete:not([disabled])
      color $solarized-5

    &.ext:not([disabled])
      color $solarized-4

    &.plus.selected
      color $solarized-2

    &.minus.selected
      color $solarized-1

  button.submit-wide
    size2($content-width, 40px)
    margin 10px 0

  table.control, table.items
    width $content-width

  table.control
    span.bubble
      width   110px
      display inline-block

  table.items
    tr
      height 30px

      &.selected
        background-color $solarized-8

        td.amount-cell
          mix-border-tl-radius(10px)
          mix-border-bl-radius(10px)

        td.date-cell
          mix-border-tr-radius(10px)
          mix-border-br-radius(10px)

    td.date-cell
      width 160px

  span.edit
    background-color  $solarized-8
