table.statistic-groups
  td
    padding-bottom 5px

  td.progress-cell
    font-size 0

  td.amount-cell
    width 100px

  span.progress, span.progress-mark
    display inline-block
    height 20px

  span.progress-side
    background-color $solarized-16
    width 10px

  span.progress-wrapper
    width 140px
