div.statistic-wrapper
  td.amount-cell
    width 140px

  li.statistic-type
    text-align  center
    line-height 34px
    font-size   34px
    margin      20px 0 5px

    span.separator
      margin      0 5px
      font-size   16px
      font-weight bold

  span.bar-wrapper, span.bar-mark
    height 20px

  span.bar-wrapper
    display inline-block
    width 120px

  span.bar-wrapper.wide
    width 260px

  div.sum-amount-wrapper
    margin-top 5px

  span.sum-amount
    width 120px
    display inline-block
