div.statistic-wrapper
  td.amount-cell
    width 140px

  li.statistic-type
    line-height 16px
    font-size   16px
    margin      10px 0 3px

    span.separator
      margin      0 5px
      font-size   16px
      font-weight bold

  span.bar-wrapper, span.bar-mark
    height 20px
    color white

  span.bar-wrapper
    display inline-block
    width 120px

  span.bar-wrapper.wide
    width 260px

    span.bar-title
      font-size   14px
      height      20px
      line-height 20px
      position    absolute
      text-align  center
      width       260px
      z-index     10

  div.sum-amount-wrapper
    margin-top 5px

  span.sum-amount
    width 120px
    display inline-block
