body
  background-color $grey-white

div.page-wrapper
  height      auto
  min-height  100%

div.content-wrapper
  margin          0 auto
  padding-top     $header-height
  display         table
  padding-bottom  $footer-height + 50px

div.content
  margin-top 30px
  padding 0 20px

table.header
  white-space       nowrap
  color             white
  position          fixed
  width             100%
  height            $header-height
  background-color  $grey-dark
  mix-user-select(none)

  a.anchor
    color           $grey-white
    display         inline-block
    font-size       13px
    height          $header-height
    padding         0 10px
    vertical-align  middle
    &:hover
      background-color  $grey
      color             white

  span.anchor-title
    line-height $header-height

  i.icon
    height $header-height
    font-size 18px

  td.last span.anchor-title
    font-size 16px

  td.selected a.anchor
    background-color  $grey
