body
  background-color $grey-white

div.page-wrapper
  height      auto
  min-height  100%

div.content-wrapper
  margin          0 auto
  padding-top     $header-height
  display         table
  padding-bottom  20px
  max-width       320px

div.content
  margin-top 30px
  padding 0 20px

table.header
  white-space       nowrap
  color             white
  position          fixed
  width             100%
  height            $header-height
  background-color  $grey-dark
  mix-user-select(none)

  a.anchor
    color           $grey-white
    display         inline-block
    font-size       13px
    height          $header-height
    padding         0 10px
    vertical-align  middle
    &:hover
      background-color  $grey
      color             white

  a.first-anchor
    width 16px

  span.anchor-title
    line-height $header-height
    font-weight bold

  i.icon
    height $header-height
    line-height $header-height
    font-size 18px

  td.icon
    a
      background-color $solarized-16

    span.anchor-title
      font-size 16px

  td.selected a
    background-color  $grey

div.debug
  color             white
  text-align        center
  padding           10px
  position          fixed
  top               0
  height            10%
  width             100%
  background-color  rgba(122, 122, 122, 0.7)
