div.page-wrapper
  height      auto
  min-height  100%

div.content-wrapper
  margin          0 auto
  padding-top     $header-height
  display         table
  padding-bottom  20px
  max-width       320px

div.content
  margin-top 30px
  padding 0 20px

div.text-content
  h1
    color     $solarized-16
    margin    5px 0
    font-size 1.5em

  h2, h3, h4
    margin 20px 0 5px 0

  ul, span
    font-size 13px
    color $grey

  span.version
    color       $grey-dark
    font-weight bold

div.text-content-description
  font-size     14px
  color         $grey-dark
  padding-left  2px

table.header
  background-color  $grey-dark
  color             white
  height            $header-height
  position          fixed
  white-space       nowrap
  width             100%
  mix-user-select(none)

  a.anchor
    color           $grey-white
    display         inline-block
    font-size       13px
    height          $header-height
    padding         0 6px
    vertical-align  middle
    width           20px

    &:hover
      background-color  $grey
      color             white

  i.icon
    height      $header-height
    width       20px
    text-align  center
    line-height $header-height
    font-size   18px

  span.anchor-spacer
    width   36px
    display inline-block

  a.anchor-narrow
    padding 0 2px

  a.about
    background-color $solarized-16

  div.interval-wrapper
    display   block
    margin    0 auto
    overflow  hidden
    width     120px

  div.interval-text
    ellipsis1(70px)

  span.interval-title
    display     block
    font-size   14px
    margin-top  4px

  span.interval-subtitle
    display   block
    font-size 10px

  td.selected a
    background-color $grey

div.debug
  color             white
  text-align        center
  padding           10px
  position          fixed
  top               0
  height            10%
  width             100%
  background-color  rgba(122, 122, 122, 0.7)
