<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge"                 http-equiv="X-UA-Compatible">
    <meta content="p1100i - p1100i@gmx.com" name="author">

    <meta
      content="Track/stat your personal finances."
      name="expendebles: a free privacy-respecting, personal cashflow webapp">

    <meta
      content="keywords"
      name="expendebles, personal cashflow, free">

    <meta
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
      name="viewport">

    <title>expendebles</title>

    <link rel="icon" href="image/favicon.ico">

    <link type="text/css" rel="stylesheet" href="css/app.css">

    <script type="text/javascript" src="js/bootstrap.js" defer></script>
  </head>

  <body data-ng-controller="appController as app" data-ng-click="app.onBodyClick($event)">
    <div class="page-wrapper" >
      <div class="content-frame" data-ng-include="'header.html'"></div>

      <div class="content-wrapper">
        <!-- ng-view works by using angular routing. -->
        <!-- see: https://docs.angularjs.org/api/ngRoute/directive/ngView -->
        <div class="content" data-ng-view=""></div>
      </div>
    </div>

    <!-- DEBUG on iOS if needed -->
    <!-- <div -->
    <!--   data-ng-if="app.debug" -->
    <!--   class="debug" -->
    <!--   data-ng-bind="app.debug" -->
    <!--   data-ng-click="app.emptyDebug()"> -->
    <!-- </div> -->
  </body>
</html>
